body {
    font: 13px/20px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: lighter;
    color: #404040;
}

h1 {
    padding-top: 15px;
    font-size: 25px;
    font-weight: lighter;
}

#header {
    width: 100%;
    height: 50px;
    background-color: red;
    text-align: center;
}

#comparatorContainer {
    width: 100%;
    height: 600px;
    background-color: #008200;
}

.product {
    width: 50%;
    height: 100%;
    float: left;
}

#leftProduct {
    background-color: wheat;
}

#rightProduct {
    background-color: white;
}

#slider {
    width: 100%;
    height: 75px;
    background-color: #0066cc;
}

#footer {
    width: 100%;
    height: 75px;
    background-color: red;
}